a:hover,
a:focus {
  outline: 0;
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: $text-color-primary;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px 30px;

  &:hover,
  &:focus {
    outline: 0;
    background-image: linear-gradient(90deg, rgba(254, 254, 254, 0.15), transparent);
  }
}

.button_mt {
  margin-top: 40px;
}

.button_bg_light {
  background-color: rgba(254, 254, 254, 0.15);
}

.button_color_white {
  color: #fff!important;
}

.button_bg_gradient {
  background-image: $gradient-primary;
  color: #fff;
  border: none;

  &:hover,
  &:focus {
    outline: 0;
    background-image: $gradient-primary-reversed;
  }
}

.button_align_bottom {
  margin-top: auto;
}

.button-cta {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 16px 30px;
}


