.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    margin: 0px -10px;
  }
}

.card-list_mt {
  margin-top: 50px!important;
}

.card-list_justify {
  justify-content: space-between;
}

$card-breakpoint: (400*3 + 40)px;

.card {
  width: 100%;
  background-color: $card-bg;
  color: $text-color-primary;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet) and (max-width: 1438px) {
    width: calc(33% - 20px);
    margin: 10px;
  }

  @media (min-width: 1438px) {
    width: 400px;
    margin: 10px;
  }

}

.flip-wrap {
  width: 100%;
  perspective: 1170px;
  margin: 10px;
  z-index: 1;

  @media (min-width: 640px) and (max-width: 980px) {
    width: calc(50% - 20px);
  }

  @media (min-width: 980px) and (max-width: 1438px) {
    width: calc(33% - 20px);
  }

  @media (min-width: 1438px) {
    width: 400px;
  }

  &.is-flipped {
    z-index: 2;

    .card_flip {
      transform: rotateY(180deg);
    }
  }
}

.card.card_flip {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.3s cubic-bezier(0.34, 1.03, 0.32, 1.28);
  transform-style: preserve-3d;
  margin: 0;
}

.card__side {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.card__side_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 15px;
  padding: 14px;
  transform: rotateY(0deg);
  color: #fff;
  background-color: #34a5a5;
  border-radius: 5px;

  .card__text {
    font-weight: 400;
  }
}

.card__side_back {
  transform: rotateY(180deg);
}

.card.card_simple {
  color: #fff;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;

  @media (min-width: $tablet) {
    width: 45%;
  }

  .card__text {
    font-weight: 400;
  }
}

.panel {
  display: inline-block;
  background-color: $card-bg;
  color: $text-color-primary;
  padding: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 30px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.card__icon {
  margin-bottom: 20px;
}

.card__number {
  color: $color-tertiary;
  margin-right: 5px;
}

.card__title {
  margin-bottom: 15px;
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;

  .card__icon {
    margin-bottom: 0;
  }
}

.card__category {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card__text {
  font-weight: 500;
  width: 100%;
}

.card__text_mb {
  margin-bottom: 25px;
}

.card__button {
  margin-top: auto;
}
