.footer {
  display: none;
  background-color: $color-primary;
  padding: 40px 0;

  @media (min-width: $tablet) {
    display: block;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}

.footer__nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
}

.footer__nav-list .nav-list__item:hover {
  .nav-list__link {
    text-decoration: underline;
  }
}

.footer__copyright {
  font-size: 14px;
  color: rgba(254, 254, 254, 0.5);
}
