$color-primary: #0d2527;
$color-secondary: #f4f4f4;
$color-tertiary: #f28b6a;

$text-color-primary: #090c0b;
$h2-color: $text-color-primary;
$text-color-secondary: #fff;

$card-bg: #fcfdff;

$tablet: 965px;
$desctop: 1260px;
