$color-primary: #0d2527;
$color-secondary: #f4f4f4;
$color-tertiary: #1f1d25;

$h2-color: #374651;
$text-color-primary: #090c0b;
$text-color-secondary: #fff;

$card-bg: #fcfdff;

$tablet: 870px;
$desctop: 1260px;
