$color-primary: #0d2527;
$color-secondary: #f4f4f4;
$color-tertiary: #f28b6a;

$text-color-primary: #090c0b;
$h2-color: $text-color-primary;
$text-color-secondary: #fff;

$gradient-primary: linear-gradient(-90deg, #de3d3d, #f28b6a);
$gradient-primary-reversed: linear-gradient(-90deg, #f28b6a, #de3d3d);

$card-bg: #fcfdff;
$card-breakpoint: 1438px;

$tablet: 850px;
$desctop: 1260px;
